/* LOGIN PAGE */


.login-section {
  padding: 30px;
  border: solid black 2px;
  width: 30%;
  margin: 10% auto 0;
}

#password, #username{
  width: 200px;
}


.login-field {
    margin-top: 25px;
  }
  

#loginBtn {
    margin-top: 25px;
    margin-right: 60%;
}

#error-message{
  padding-top: 10px;
  color: rgb(193, 17, 17);
}

/* DASHBORD PAGE */

.page-title{
  margin: 40px;
  width: 400px;
  height: 30px;
}

.info-card{
  margin: 20px;
}

.navbar{
  background-color: pink;
  border: solid black 1px;
  margin: 40px 40px 0 40px; /* top, right, bottom, left */
  padding: 10px;
}
.navbar ul {
    list-style: none;
    display: flex;
  }

.navbar button {
    color: rgb(25, 24, 24);    
    text-decoration: none;    /* Remove underline */
    padding: 10px 15px;
    margin-right: 30px;
    
  }

#configSettings{
  border: solid purple 2px;
  margin: 0px 40px; /* top, right, bottom, left */
  padding: 10px;
}

#contentContainer{
  border: solid black 1px;
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sensor-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px 10px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* SETTINGS */

.profile-section {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px 40px 0 40px; /* top, right, bottom, left */
  border: solid rgb(0, 0, 0) 1px;
}

.profile-field{
  padding: 0 0 20px 0;
}
