.login-section {
  padding: 30px;
  border: solid black 2px;
  width: 30%;
  margin: 10% auto 0;
}

  
  .login-field {
    margin-top: 25px;
  }
  
  #loginBtn {
    margin-top: 25px;
    margin-right: 60%;
  }
